<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                    <div class="text-left">
                        <p>Come on gifts specialise in customised promotional products, allowing you to find the products that you require with little effort. With many years of experience, we have the know-how to be your partner when it comes to business gifts, advertising, sourcing and fulfilment.</p>
                        <p>We pride ourselves on providing excellent customer service and we take every care to ensure that your experience with us is second to none. Whether you are looking for an advertising gift to mail out to your prospects, corporate gifts for staff retention or a yearly give-away for your existing customers, we can provide a promotional product to suit your needs.</p>
                        <p>Our dedicated team will work with you from quotation to delivery to ensure that you are fully satisfied with both your promotional items and service.</p>
                        <p>Please get in touch regarding your next project or visit our enquiry form here.</p>
                    </div>
                    <img src="/img/about/company.jpg"/>
                </div>
            </div>
        </div>
    </section>