  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <span><a href="mailto:info@comeongifts.com">Email: info@comeongifts.com</a></span><br>
                    <span>Address: R908, Bldg. B, Xixiang Bao An,Shenzhen City, Guangdong Province, China</span><br> 
                    <span>Phone: +86 132 8884 4579</span>
                </div>
            </div>
        </div>
    </footer>
