<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why choose us?</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Live Pricing</h4>
                    <p class="text-muted">You'll never need to ask, "How much is this again?" We have <strong>instant pricing</strong> for thousands of unique products, so you can plan a campaign quickly.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Quick Lead Times</h4>
                    <p class="text-muted">Sometimes, merchandise is the last thing on your mind. Don’t worry; we’ve got your back with lead times under five working days.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Professional Design Team</h4>
                    <p class="text-muted">We have a professional design team, they are ready to help you whether you have design or not.</p>
                </div>
            </div>
        </div>
    </section>